
@{

    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tableBlock"></div>
<div id="editBlock">
    <p><b>Редактирование Order</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Имя: </label></td><td><input type="text" id="editName" /></td></tr>
        <tr><td><label>Тип: </label></td><td><input type="text" id="editType" /></td></tr>
        <tr><td><label>Время: </label></td><td><input type="text" id="editTime" /></td></tr>
        <tr><td><label>Цена: </label></td><td><input type="text" id="editPrice" /></td></tr>
        <tr><td><label>Герой: </label></td><td><input type="text" id="editHeroId" /></td></tr>
        <tr><td><label>Атракцион: </label></td><td><input type="text" id="editAtractionId" /></td></tr>
        <tr><td><label>Зона: </label></td><td><input type="text" id="editAreaId" /></td></tr>
    </table>
    <br />
    <button id="editOrder">Сохранить</button>
</div>
<div id="createBlock">
    <p><b>Добавление Order</b></p>
    <table>
        <tr><td><label>Имя: </label></td><td><input type="text" id="addName" /></td></tr>
        <tr><td><label>Тип: </label></td><td><input type="text" id="addType" /></td></tr>
        <tr><td><label>Время: </label></td><td><input type="text" id="addTime" /></td></tr>
        <tr><td><label>Цена: </label></td><td><input type="text" id="addPrice" /></td></tr>
        <tr><td><label>Герой: </label></td><td><input type="text" id="addHeroId" /></td></tr>
        <tr><td><label>Атракцион: </label></td><td><input type="text" id="addAtractionId" /></td></tr>
        <tr><td><label>Зона: </label></td><td><input type="text" id="addAreaId" /></td></tr>
    </table>
    <br />
    <button id="addOrder">Сохранить</button>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            GetAllOrders();

            $("#editOrder").click(function (event) {
                event.preventDefault();
                EditOrder();
            });

            $("#addOrder").click(function (event) {
                event.preventDefault();
                AddOrder();
            });

        });
        // Получение всех книг по ajax-запросу
        function GetAllOrders() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/orders',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // Добавление новой книги
        function AddOrder() {
            // получаем значения для добавляемой книги
            var order = {
                Name: $('#addName').val(),
                Type: $('#addType').val(),
                Time: $('#addTime').val(),
                Price: $('#addPrice').val(),
                HeroId: $('#addHeroId').val(),
                AtractionId: $('#addAtractionId').val(),
                AreaId: $('#addAreaId').val()
            };

            $.ajax({
                url: '/api/orders/',
                type: 'POST',
                data: JSON.stringify(order),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOrders();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // Удаление книги
        function DeleteOrder(id) {

            $.ajax({
                url: '/api/orders/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOrders();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // редактирование книги
        function EditOrder() {
            var id = $('#editId').val()
            // получаем новые значения для редактируемой книги
            var order = {
                Id: $('#editId').val(),
                Name: $('#editName').val(),
                Type: $('#editType').val(),
                Time: $('#editTime').val(),
                Price: $('#editPrice').val(),
                HeroId: $('#editHeroId').val(),
                AtractionId: $('#editAtractionId').val(),
                AreaId: $('#editAreaId').val(),
            };
            $.ajax({
                url: '/api/orders/' + id,
                type: 'PUT',
                data: JSON.stringify(order),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOrders();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // вывод полученных данных на экран
        function WriteResponse(orders) {
            var strResult = "<table><th>ID</th><th>Имя</th><th>Тип</th><th>Время</th><th>Цена</th><th>Герой</th><th>Аттракцион</th><th>Зона</th>";
            $.each(orders, function (index, order) {
                strResult += "<tr><td>" + order.Id + " </td><td> " + order.Name + " </td><td>" + order.Type + " </td><td>" + order.Time + " </td><td>" + order.Price + " </td><td>" + order.HeroId + " </td><td>" + order.AtractionId + " </td><td>" + order.AreaId + " </td><td>" +
                    "</td><td><a id='editItem' data-item='" + order.Id + "' onclick='EditItem(this);' > Редактировать </a></td>" +
                    "<td><a id='delItem' data-item='" + order.Id + "' onclick='DeleteItem(this);' > Удалить </a></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        // обработчик удаления
        function DeleteItem(el) {
            // получаем id удаляемого объекта
            var id = $(el).attr('data-item');
            DeleteOrder(id);
        }
        // обработчик редактирования
        function EditItem(el) {
            // получаем id редактируемого объекта
            var id = $(el).attr('data-item');
            GetOrder(id);
        }
        // вывод данных редактируемой книги в поля для редактирования
        function ShowOrder(order) {
            if (order != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(order.Id);
                $("#editName").val(order.Name);
                $("#editType").val(order.Type);
                $("#editTime").val(order.Time);
                $("#editPrice").val(order.Price);
                $("#editHeroId").val(order.HeroId);
                $("#editAtractionId").val(order.AtractionId);
                $("#editAreaId").val(order.AreaId);
            }
            else {
                alert("No exist!");
            }
        }
        // запрос книги на редактирование
        function GetOrder(id) {
            $.ajax({
                url: '/api/orders/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowOrder(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}
